<template>
    <!-- Product Shop Section Begin -->
    <section class="product-shop spad page-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center text-danger" v-if="loading">
                    <h3 class="mt-5"><i class="fa fa-spinner fa-pulse"></i> Loading Produk</h3>
                </div>
                <div class="col-lg-12" v-else>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="product-pic-zoom">
                                <img class="product-big-img" :src="foto_big" alt="" />
                            </div>
                            <div class="product-thumbs" v-if="productDetails.galleries.length > 0">
                                <carousel class="product-thumbs-track ps-slider" :items="3" :nav="false" :margin="10">
                                    <div v-for="gambarThumb in productDetails.galleries" :key="gambarThumb.id">
                                        <div class="pt" @click="changeBigFoto(gambarThumb.photo)" :class="gambarThumb.photo == foto_big ? 'active':'' ">
                                            <img class="img-product" :src="gambarThumb.photo" alt="" />
                                        </div>
                                    </div>
                                </carousel>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="product-details">
                                <div class="pd-title">
                                    <span>{{productDetails.type}}</span>
                                    <h3>{{productDetails.name}}</h3>
                                </div>
                                <div class="pd-desc">
                                   <p v-html="productDetails.description"></p>
                                    <h4>Rp. {{changeRupiah(productDetails.price)}},-</h4>
                                </div>
                                <div class="quantity">
                                    <a @click="saveKeranjang(productDetails.id,productDetails.name,productDetails.price,productDetails.galleries[0].photo)" style="cursor:pointer" class="primary-btn pd-cart">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
</template>

<script>
import axios from 'axios';
import carousel from 'vue-owl-carousel';
export default {
    name: 'productshop',
    components:{
        carousel
    },
  data:function () {
     return{
         foto_big:"",
         productDetails:[],
         keranjangUser:[],
         loading:true,
     }
  },
  methods:{
      changeBigFoto(urlImage){
          this.foto_big = urlImage;
      },
      changeRupiah(nominal){
        var	reverse = nominal.toString().split('').reverse().join('');
        var ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return ribuan;
      },
      setReturnData(data){
          this.productDetails = data;
          this.foto_big = data.galleries[0].photo;
          this.loading = false;
      },
      saveKeranjang(idProduct, nameProduct, priceProduct, photoProduct){
          const itemProduct = {
              'id'      : idProduct,
              'nama'    : nameProduct,
              'harga'   : priceProduct,
              'photo'   : photoProduct,
              'quantity': 1
          };
          const itemExist = this.keranjangUser.find(item => item.id === idProduct);
          if(itemExist){
              itemExist.quantity += 1;
              const items = JSON.stringify(this.keranjangUser);
              localStorage.setItem('keranjangUser',items);
              window.location.reload();
              return;
            }
          this.keranjangUser.push(itemProduct);
          const items = JSON.stringify(this.keranjangUser);
          localStorage.setItem('keranjangUser',items);
          window.location.reload();
      }
  },
  mounted(){
      if(localStorage.getItem('keranjangUser')){
          try {
              this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
          } catch (error) {
              localStorage.removeItem('keranjangUser');
          }
      }
      axios
      .get('https://laravue.arif.app/api/product',{
          params: {
              id: this.$route.params.id
          }
      })
      .then(res => (this.setReturnData(res.data.data)))
      .catch(err =>console.log(err));
  }
}
</script>

<style scoped>
img{
    border-radius: 5%;
}
.product-thumbs .pt.active:after {
    border-radius: 5%;
}
</style>