<template>
  <div class="home">
    <HeaderLara/>
    <HeroCarousel/>
    <WomenBanner/>
    <GaleryInstagram/>
    <LogoPartner/>
    <FooterLara/>
  </div>
</template>

<script>
// @ is an alias to /src
import HeaderLara from "@/components/HeaderLara.vue";
import HeroCarousel from '@/components/home/HeroCarousel.vue';
import WomenBanner from '@/components/home/WomenBanner.vue';
import GaleryInstagram from '@/components/home/GaleryInstagram.vue';
import LogoPartner from '@/components/home/LogoPartner.vue';
import FooterLara from '@/components/FooterLara.vue';


export default {
  name: 'Home',
  components: {
    HeaderLara,
    HeroCarousel,
    WomenBanner,
    GaleryInstagram,
    LogoPartner,
    FooterLara
  }
}
</script>