<template>
  <div class="product">
    <HeaderLara/>
    <BreadLara/>
    <ProductShop/>
    <RelateProduct/>
    <FooterLara/>
  </div>
</template>

<script>
// @ is an alias to /src
import HeaderLara from "@/components/HeaderLara.vue";
import FooterLara from '@/components/FooterLara.vue';
import BreadLara from '../components/product/BreadLara.vue';
import ProductShop from '../components/product/ProductShop.vue';
import RelateProduct from '../components/product/RelateProduct.vue';


export default {
  name: 'Product',
  components: {
    HeaderLara,
    FooterLara,
    BreadLara,
    ProductShop,
    RelateProduct
  }
}
</script>