<template>
  <div class="profile">
    <h1>This is an profile page</h1>
  </div>
</template>

<script>
// @ is an alias to /src

import 'bootstrap/dist/css/bootstrap.css'

export default {
  name: 'Profile',
  components: {
  }
}
</script>
 