<template>
<div class="shopingcart">
    <HeaderLara/>
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th class="p-name text-center">Product Name</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="keranjang in keranjangUser" :key="keranjang.id">
                                            <td class="cart-pic first-row">
                                                <img :src="keranjang.photo" />
                                            </td>
                                            <td class="cart-title first-row text-center">
                                                <h5>{{keranjang.nama}}</h5>
                                            </td>
                                            <td class="p-price first-row">${{changeRupiah(keranjang.harga)}} x {{ keranjang.quantity }}</td>
                                            <td class="delete-item"><a href="#" @click="removeItem(keranjang.index)"><i class="material-icons">
                                              close
                                              </i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4 class="mb-4">
                                Informasi Pembeli:
                            </h4>
                            <div class="user-checkout">
                                <form>
                                    <div class="form-group">
                                        <label for="namaLengkap">Nama lengkap</label>
                                        <input type="text" class="form-control" id="namaLengkap" aria-describedby="namaHelp" placeholder="Masukan Nama" v-model="customerInfo.nama">
                                    </div>
                                    <div class="form-group">
                                        <label for="namaLengkap">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" placeholder="Masukan Email" v-model="customerInfo.email">
                                    </div>
                                    <div class="form-group">
                                        <label for="namaLengkap">No. HP</label>
                                        <input type="text" class="form-control" id="noHP" aria-describedby="noHPHelp" placeholder="Masukan No. HP" v-model="customerInfo.no">
                                    </div>
                                    <div class="form-group">
                                        <label for="alamatLengkap">Alamat Lengkap</label>
                                        <textarea class="form-control" id="alamatLengkap" rows="3" v-model="customerInfo.alamat"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal">ID Transaction <span>#SH12000</span></li>
                                    <li class="subtotal mt-3">Subtotal <span>Rp. {{changeRupiah(totalBelanja)}}</span></li>
                                    <li class="subtotal mt-3">Pajak <span>10% <small>({{changeRupiah(totalBelanja*(10/100))}})</small></span></li>
                                    <li class="subtotal mt-3">Total Biaya <span>Rp. {{ changeRupiah(totalBelanja+(totalBelanja*(10/100))) }}</span></li>
                                    <li class="subtotal mt-3">Bank Transfer <span>Bank Jago</span></li>
                                    <li class="subtotal mt-3">No. Rekening <span>7460 0858 8599 4505</span></li>
                                    <li class="subtotal mt-3">Nama Penerima <span>Arif Puji Nugroho</span></li>
                                </ul>
                                <a href="success.html" class="proceed-btn">I ALREADY PAID</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <FooterLara/>
    <!-- Shopping Cart Section End -->
    </div>
</template>

<script>
import FooterLara from '../components/FooterLara.vue'
import HeaderLara from '../components/HeaderLara.vue'
export default {
    name:'shopingcart',
    components: { 
        FooterLara,
        HeaderLara 
    },
  data () {
     return{
         keranjangUser:[],
         customerInfo :{
                nama:'',
                email:'',
                no:'',
                alamat:''
        }
     }
  },
  methods:{
    changeRupiah(nominal){
        var	reverse = nominal.toString().split('').reverse().join('');
        var ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return ribuan;
    },
    removeItem(idx) {
        let keranjangUserStorage = JSON.parse(localStorage.getItem("keranjangUser"));
        let itemKeranjangUserStorage = keranjangUserStorage.map(itemKeranjangUserStorage => itemKeranjangUserStorage.id);
        let index = itemKeranjangUserStorage.findIndex(id => id == idx);
        this.keranjangUser.splice(index, 1);
        const parsed = JSON.stringify(this.keranjangUser);
        localStorage.setItem("keranjangUser", parsed);
        window.location.reload() ;
    }
  },
  mounted(){
      if(localStorage.getItem('keranjangUser')){
          try {
              this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
          } catch (error) {
              localStorage.removeItem('keranjangUser');
          }
      }
    },
    computed:{
        totalBelanja(){
            let total = 0;
            this.keranjangUser.forEach(item => {
                total += item.harga * item.quantity;
            });
            return total;
        }
    }
}
</script>