<template>
    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
                <div class="row" v-if="loading">
                    <div class="col-lg-12 text-center text-danger">
                        <h3 class="mt-5"><i class="fa fa-spinner fa-pulse"></i> Loading Produk</h3>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-lg-12 mt-5" v-if="products.length > 0">
                        <carousel class="product-slider" :items="3" :nav="false" :autoplay="true" :dots="false" :loop="true">
                            
                            <div class="product-item" v-for="itemProduct in products" v-bind:key="itemProduct.id">
                                <div class="pi-pic">
                                    <img loading="lazy" style="" v-bind:src="itemProduct.galleries[0].photo" alt="" />
                                    <ul>
                                        <li class="w-icon active">
                                            <a @click="saveKeranjang(itemProduct.id,itemProduct.name,itemProduct.price,itemProduct.galleries[0].photo)" href="#" class="border-left"><i class="icon_bag_alt"></i></a>
                                        </li>
                                        <li class="quick-view border-right">
                                            <router-link v-bind:to="'product/'+itemProduct.id">+ Quick View</router-link>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">{{itemProduct.type}}</div>
                                    <a href="#">
                                        <h5>{{itemProduct.name}}</h5>
                                    </a>
                                    <div class="product-price">
                                        Rp. {{changeRupiah(itemProduct.price)}},-
                                    </div>
                                </div>
                            </div>
                        </carousel>
                    </div>
                    <div class="col-lg-12 text-center text-danger" v-else>
                        <h3 class="mt-5 text-danger">Maaf, Produk tidak tersedia</h3>
                    </div>
                </div>
        </div>
    </section>
    <!-- Women Banner Section End -->
</template>

<script>
import carousel from "vue-owl-carousel";
import axios from "axios";
export default {
    name: 'womenbanner',
    components:{
        carousel
    },
    data(){
        return{
            products:[],
            keranjangUser:[],
            loading:true
        };
    },
    methods:{
        changeRupiah(nominal){
        var	reverse = nominal.toString().split('').reverse().join('');
        var ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return ribuan;
      },
      saveKeranjang(idProduct, nameProduct, priceProduct, photoProduct){
          const itemProduct = {
              'id'      : idProduct,
              'nama'    : nameProduct,
              'harga'   : priceProduct,
              'photo'   : photoProduct,
              'quantity': 1
          };
          let itemExist = this.keranjangUser.find(item => item.id === idProduct);
          if(itemExist){
              itemExist.quantity += 1;
              const items = JSON.stringify(this.keranjangUser);
              localStorage.setItem('keranjangUser',items);
              window.location.reload();
              return;
            }
          this.keranjangUser.push(itemProduct);
          const items = JSON.stringify(this.keranjangUser);
          localStorage.setItem('keranjangUser',items);
          window.location.reload();
      }
    },
    mounted(){
      if(localStorage.getItem('keranjangUser')){
          try {
              this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
          } catch (error) {
              localStorage.removeItem('keranjangUser');
          }
      }
        axios
            .get('https://laravue.arif.app/api/product')
            .then(res => (this.products = res.data.data.data,this.loading=false))
            .catch(err =>console.log(err));
    }
}
</script>

<style scoped>
.product-item{
    margin-right: 25px;
}
</style>

<style scoped>
img{
    border-radius: 5%;
}
.product-item .pi-pic ul li{
    list-style: none;
    display: inline-block;
    /* border-top-left-radius: 20%; */
    background:transparent;
}
.product-item .pi-pic ul li.w-icon.active a {
    border-top-left-radius: 20%;
    background: #e7ab3c;
    color: #ffffff;
}

.product-item .pi-pic ul li.border-right a{
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    display: block;
    padding: 16px 18px 12px 19px;
    background: #ffffff;
    border-top-right-radius: 20%;
}
</style>