<template>
<div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i> mail@arif.app
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i> +628 138573003
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="img/logo_website_shayna.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7"></div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon">
                                Keranjang Belanja &nbsp;
                                <a href="#">
                                    <i class="icon_bag_alt"></i>
                                    <span>{{keranjangUser.length}}</span>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-items">
                                        <table>
                                            <tbody v-if="keranjangUser.length > 0">
                                                <tr v-for="keranjang in keranjangUser" :key="keranjang.id">
                                                    <td class="si-pic">
                                                        <img class="photo-item" :src="keranjang.photo" />
                                                    </td>
                                                    <td class="si-text">
                                                        <div class="product-selected">
                                                            <p>Rp. {{changeRupiah(keranjang.harga)}} x {{ keranjang.quantity }}</p>
                                                            <h6>{{keranjang.nama}}</h6>
                                                        </div>
                                                    </td>
                                                    <td @click="removeItem(keranjangUser.index)" class="si-close">
                                                        <i class="ti-close"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="3" class="text-center">
                                                        <h6 class="text-danger">Keranjang Belanja Kosong</h6>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="select-total">
                                        <span>total:</span>
                                        <h5>Rp. {{ changeRupiah(totalBelanja) }}</h5>
                                    </div>
                                    <div class="select-button">
                                        <router-link to="/cart" class="primary-btn view-card">VIEW CARD</router-link>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    </div>
</template>

<script>
export default {
    name: 'HeaderLara',
  data () {
     return{
         keranjangUser:[],
     }
  },
  methods:{
    changeRupiah(nominal){
        var	reverse = nominal.toString().split('').reverse().join('');
        var ribuan 	= reverse.match(/\d{1,3}/g);
        ribuan	= ribuan.join('.').split('').reverse().join('');
        return ribuan;
    },
    removeItem(idx) {
        let keranjangUserStorage = JSON.parse(localStorage.getItem("keranjangUser"));
        let itemKeranjangUserStorage = keranjangUserStorage.map(itemKeranjangUserStorage => itemKeranjangUserStorage.id);
        let index = itemKeranjangUserStorage.findIndex(id => id == idx);
        this.keranjangUser.splice(index, 1);
        const parsed = JSON.stringify(this.keranjangUser);
        localStorage.setItem("keranjangUser", parsed);
        window.location.reload() ;
    }
  },
  mounted(){
      if(localStorage.getItem('keranjangUser')){
          try {
              this.keranjangUser = JSON.parse(localStorage.getItem('keranjangUser'));
          } catch (error) {
              localStorage.removeItem('keranjangUser');
          }
      }
    },
    computed:{
        totalBelanja(){
            let total = 0;
            this.keranjangUser.forEach(item => {
                total += item.harga * item.quantity;
            });
            return total;
        }
    }
}
</script>
<style scoped>
 .photo-item{
     width: 80px;
     height: 80px;
 }
</style>